@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/DMSans-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/DMSans-BoldItalic.ttf") format("truetype");
}